# Example settings file; set the values below, and rename file
# to 'settings.py'

wifi_name = 'MyNetworkName'
wifi_pass = 'MyWifiPassword'
pushover_user = 'My_Pushover_User_Token'
pushover_token = 'My_Pushover_Application_Token'